html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#LoadingOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

#LoadingCard {
    background-color: rgb(100, 100, 100);
    color: rgb(240, 240, 240);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(0, 0, 0);
}

.Spinner {
    width: 40px;
    height: 40px;
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-top-color: #00a8ff;
    border-radius: 50%;
    margin: 0 auto 15px auto;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    to {transform: rotate(360deg);}
}

#AppContainer {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

#cesiumContainer {
    flex: 1;
    height: 100%;
    position: relative;
    transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

.Sidebar {
    width: 0;
    height: 100%;
    background-color: rgb(30, 30, 30);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: width 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    box-sizing: border-box;
    z-index: 100;
}

#LeftSidebar {
    border-right: 1px solid rgb(10, 10, 10);
}

#RightSidebar {
    border-left: 1px solid rgb(10, 10, 10);
}

.Sidebar.open {
    width: 20vw !important;
}

.ToggleBtn {
    position: fixed;
    top: 1vw;
    height: 2vw;
    width: 2vw;
    background-color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgb(200, 200, 200);
    border-radius: 10%;
    cursor: pointer;
    z-index: 101;
    color: rgb(180, 180, 180);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ToggleBtn img{
    object-fit: contain;
    width: 80%;
    height: 90%;
}

#ToggleLeftSidebar {
    left: 1vw;
}

#ToggleRightSidebar {
    right: 1vw;
}